In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df=pd.read_csv("car_data.csv")
df

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0
...,...,...,...,...,...,...,...,...,...
296,city,2016,9.50,11.60,33988,Diesel,Dealer,Manual,0
297,brio,2015,4.00,5.90,60000,Petrol,Dealer,Manual,0
298,city,2009,3.35,11.00,87934,Petrol,Dealer,Manual,0
299,city,2017,11.50,12.50,9000,Diesel,Dealer,Manual,0
300,brio,2016,5.30,5.90,5464,Petrol,Dealer,Manual,0

## 1)How many rows and columns are in the dataset?

In [33]:
#df.info()
print("No.of rows and columns in dataset:",df.shape)

No.of rows and columns in dataset: (301, 9)

## 2)What are the data types of each column?

In [35]:
print("Data type of each column:\n",df.dtypes)

Data type of each column:
 Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

## 3)Are there any missing values in the dataset?

In [36]:
#df.isnull().sum()
print("Missing Values in dataset:",df.isnull())

Missing Values in dataset:      Car_Name   Year  Selling_Price  Present_Price  Kms_Driven  Fuel_Type  \
0       False  False          False          False       False      False
1       False  False          False          False       False      False
2       False  False          False          False       False      False
3       False  False          False          False       False      False
4       False  False          False          False       False      False
..        ...    ...            ...            ...         ...        ...
296     False  False          False          False       False      False
297     False  False          False          False       False      False
298     False  False          False          False       False      False
299     False  False          False          False       False      False
300     False  False          False          False       False      False

     Seller_Type  Transmission  Owner
0          False         False  False
1          False         False  False
2          False         False  False
3          False         False  False
4          False         False  False
..           ...           ...    ...
296        False         False  False
297        False         False  False
298        False         False  False
299        False         False  False
300        False         False  False

[301 rows x 9 columns]

## 4)Are there any duplicate records?

In [5]:
#df.duplicated()
print("Duplicated records in the dataset:",df.duplicated().sum())
#print(df[df.duplicated()])

Duplicated records in the dataset: 2

## 5)What are the unique values in the Fuel_Type, Seller_Type, and Transmission columns?

In [39]:
print("Unique values in Fuel_Type",df['Fuel_Type'].unique())
print("Unique values in Seller_Type",df['Seller_Type'].unique())
print("Unique values in Transmission",df['Transmission'].unique())

Unique values in Fuel_Type ['Petrol' 'Diesel' 'CNG']
Unique values in Seller_Type ['Dealer' 'Individual']
Unique values in Transmission ['Manual' 'Automatic']

## 6)What is the average, maximum, and minimum Selling_Price?

In [40]:
#df.describe()
print("Average=",df["Selling_Price"].mean())
print("Maximum=",df["Selling_Price"].max())
print("Minimum=",df["Selling_Price"].min())

Average= 4.661295681063123
Maximum= 35.0
Minimum= 0.1

## 7)What is the average Selling_Price by Fuel_Type?

In [44]:
print("Average Selling Price by Fuel Type:\n",df.groupby('Fuel_Type')['Selling_Price'].mean().sort_values(ascending=False))

Average Selling Price by Fuel Type:
 Fuel_Type
Diesel    10.278500
Petrol     3.264184
CNG        3.100000
Name: Selling_Price, dtype: float64

## 8)What is the average Selling_Price by Transmission type?

In [43]:
print("Average selling price by trannsmission:\n",df.groupby('Transmission')['Selling_Price'].mean())

Average selling price by trannsmission:
 Transmission
Automatic    9.420000
Manual       3.931992
Name: Selling_Price, dtype: float64

## 9)Which car model appears most frequently?

In [31]:
common_carmodel=df['Car_Name'].mode()[0]
print(f"The most common car model is {common_carmodel}")

2. The most common car model is city

In [46]:
common_model = df['Car_Name'].value_counts().idxmax()
common_count = df['Car_Name'].value_counts().max()
print("Most common car model:",common_model)
print("Number of occurrences:",common_count)

Most common car model: city
Number of occurrences: 26

## 10)What is the average Selling_Price for each car model?

In [47]:
average = df["Selling_Price"].mean()
print(f"The average price of all the cars in the dataset is {average}")

The average price of all the cars in the dataset is 4.661295681063123

In [48]:
print("Average Selling_Price per Car Model:")
print(df.groupby('Car_Name')['Selling_Price'].mean().sort_values(ascending=False))

1. Average Selling_Price per Car Model:
Car_Name
land cruiser           35.000000
fortuner               18.685455
innova                 12.777778
creta                  11.800000
elantra                11.600000
                         ...
Hero Hunk               0.200000
Hero Super Splendor     0.200000
Hero  Ignitor Disc      0.200000
Bajaj  ct 100           0.180000
Bajaj Discover 125      0.175000
Name: Selling_Price, Length: 98, dtype: float64

## 11)What is the range of years in the dataset (min and max Year)?

In [49]:
print("Minimum year in dataset:",df['Year'].min())
print("Maximum year in dataset:",df['Year'].max())

Minimum year in dataset: 2003
Maximum year in dataset: 2018

## 12)What is the average Selling_Price grouped by Year?

In [50]:
print(df.groupby('Year')['Selling_Price'].mean().sort_index(ascending=True))

Year
2003    1.300000
2004    1.500000
2005    2.487500
2006    1.437500
2007    0.160000
2008    1.002857
2009    2.816667
2010    5.262667
2011    2.375263
2012    3.841304
2013    3.540909
2014    4.762105
2015    5.927049
2016    5.213200
2017    6.209143
2018    9.250000
Name: Selling_Price, dtype: float64

## 13)What is the most common number of owners (from the Owner column)?

In [52]:
print(df['Owner'].value_counts())
#print(df['Owner'].value_counts().idxmax())

Owner
0    290
1     10
3      1
Name: count, dtype: int64

## 14)What is the average number of kilometers driven (Kms_Driven)?

In [55]:
print("average number of kilometers driven:",df['Kms_Driven'].mean())

average number of kilometers driven: 36947.20598006644

## 15)Which car has the highest Present_Price?

In [59]:
print("Highest Present_price:",df['Present_Price'].max())

Highest Present_price: 92.6

## it gives all the information about one perticular car which is highest

In [61]:
max_price_idx = df['Present_Price'].idxmax()
print(df.loc[max_price_idx])

Car_Name         land cruiser
Year                     2010
Selling_Price            35.0
Present_Price            92.6
Kms_Driven              78000
Fuel_Type              Diesel
Seller_Type            Dealer
Transmission           Manual
Owner                       0
Name: 86, dtype: object

## 16)What is the correlation between Selling_Price, Present_Price, and Kms_Driven?

In [62]:
print(df[['Selling_Price', 'Present_Price', 'Kms_Driven']].corr())

               Selling_Price  Present_Price  Kms_Driven
Selling_Price       1.000000       0.878983    0.029187
Present_Price       0.878983       1.000000    0.203647
Kms_Driven          0.029187       0.203647    1.000000

## 17)Which Seller_Type has the highest average Selling_Price?

In [63]:
print(df.groupby('Seller_Type')['Selling_Price'].mean().sort_values(ascending=False))

Seller_Type
Dealer        6.721692
Individual    0.870943
Name: Selling_Price, dtype: float64

## 18)How many cars are there of each Fuel_Type?

In [64]:
print(df['Fuel_Type'].value_counts())

Fuel_Type
Petrol    239
Diesel     60
CNG         2
Name: count, dtype: int64

## 19)How many cars have more than one previous owner?

In [65]:
print(df[df['Owner'] > 1].shape[0])

1

## 20)What are the top 5 most expensive cars in the dataset?

In [74]:
print(df.sort_values(by='Selling_Price', ascending=False).head(5))

        Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
86  land cruiser  2010           35.0          92.60       78000    Diesel
64      fortuner  2017           33.0          36.23        6000    Diesel
63      fortuner  2015           23.5          35.96       47000    Diesel
51      fortuner  2015           23.0          30.61       40000    Diesel
93      fortuner  2015           23.0          30.61       40000    Diesel

   Seller_Type Transmission  Owner  Price_Difference
86      Dealer       Manual      0             57.60
64      Dealer    Automatic      0              3.23
63      Dealer    Automatic      0             12.46
51      Dealer    Automatic      0              7.61
93      Dealer    Automatic      0              7.61

## 21)What is the average difference between Present_Price and Selling_Price?

In [76]:
df['Price_Difference'] = df['Present_Price'] - df['Selling_Price']
avg_price_diff = df['Price_Difference'].mean()
print("Average difference between Present_Price and Selling_Price:", avg_price_diff)

Average difference between Present_Price and Selling_Price: 2.967176079734219

## 22)How many cars are being sold by individual sellers vs dealers?

In [82]:
print(df['Seller_Type'].value_counts())

Seller_Type
Dealer        195
Individual    106
Name: count, dtype: int64

## 23)How many cars were manufactured before 2010?

In [87]:
#manufacture = df[df['Year'] < 2010]
manufacture=df[df['Year']<2010].shape[0]
print(manufacture)

26

## 24)Which year has the highest number of car listings?

In [92]:
common_year = df['Year'].value_counts().idxmax()
listings_year = df['Year'].value_counts().max()
print(f"Year with the highest number of car listings: {common_year} ({listings_year} listings)")

Year with the highest number of car listings: 2015 (61 listings)

## 25)What percentage of cars are using diesel vs petrol vs CNG?

In [95]:
fuel_percentages = df['Fuel_Type'].value_counts(normalize=True) * 100
print("Percentage of cars:\n", fuel_percentages)

Percentage of cars:
 Fuel_Type
Petrol    79.401993
Diesel    19.933555
CNG        0.664452
Name: proportion, dtype: float64

## 26)What is the highest and lowest Kms_Driven for each fuel type?

In [97]:
kms_driven = df.groupby('Fuel_Type')['Kms_Driven'].agg(['min', 'max'])
print("Highest and lowest Kms_Driven for each Fuel_Type:\n", kms_driven)

Highest and lowest Kms_Driven for each Fuel_Type:
              min     max
Fuel_Type
CNG        35500   49998
Diesel      2071  197176
Petrol       500  500000

## 27)How many cars were sold with exactly 0 previous owners?

In [99]:
zero_owner= df[df['Owner'] == 0].shape[0]
print(zero_owner)

290

## 28)How many unique combinations of Fuel_Type, Seller_Type, and Transmission exist?

In [103]:
unique_combinations = df[['Fuel_Type', 'Seller_Type', 'Transmission']].drop_duplicates().shape[0]
print(unique_combinations)

8

## 29)What is the average Selling_Price of cars that have more than 2 previous owners?

In [105]:
avg_price= df[df['Owner'] > 2]['Selling_Price'].mean()
print(avg_price)

2.5

## 30)Are there any cars where Selling_Price is greater than Present_Price?

In [106]:
overpriced_cars = df[df['Selling_Price'] > df['Present_Price']].shape[0]
print(overpriced_cars)

0